@import "tailwindcss";

html {
  font-size: 16px;
}

body {
  background-color: var(--color-main-bg-color);
  color: var(--color-main-text-color);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@theme light {
  --color-main-bg-color: #fbfbfb;
  --color-main-text-color: #000000;
  --color-warning-color: #dc2626;
  --color-success-color: #16a34a;
  --color-secondary-bg-color: #123e8a;
  --color-secondary-text-color: #ffffff;
  --color-icon-color: #a0a4ac;
}

.dark {
  --color-main-bg-color: #202225;
  --color-main-text-color: #fbfbfb;
}

.up {
  color: var(--color-success-color);
  font-weight: bold;
}
.down {
  color: var(--color-warning-color);
  font-weight: bold;
}
